
{{#md}}
::: info
Portions of this page are modifications based on work created and shared by the 
Solr Project (Apache Solr Reference Guide) and used according to terms described 
in the Apache 2.0 License.

<a href="{{link}}">Link back to the original article</a>
:::
{{/md}}