<div class="feature">
    <div class="icon">
        <svg x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64">
            <g>
                {{{icon}}}
            </g>
        </svg>
    </div>
    <h4>{{heading}}</h4>
    <p>{{description}}</p>
</div>