<table class="table table-condensed table-striped table-bordered" style="margin-top:30px;margin-bottom:30px">
<thead style="background-color:aliceblue">
    <th colspan="2">Information Box</th>
</thead>
{{# each this}}    
<tr><td width="50%">
<strong>{{@key}}</strong>
</td><td>
{{this}}
</td></tr>
{{/each}}
</table>
